{% extends 'base.html.twig' %}

{% block title %}Séries {{ category.name }}{% endblock %}

{% block body %}
    <h1>Dans la catégorie : {{ category.name }}</h1>
    <article>
    {% for program in programs %}
        <h3>{{ loop.index }} / <a href="{{ path("program_show", { id: program.id }) }}">{{ program.title }}</h3></a>
        <p>{{ program.synopsis }}</p>
    </article>
    {% else %}
        Aucune série trouvée dans cette catégorie.
    {% endfor %}
    </br>
    <a href="{{ path('category_index') }}">
        Retour à la liste des catégories
    </a>
{% endblock %}